.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #fff;
}

.btn {
  text-align: center;
}

.btn button {
  width: 50px;
  height: 50px;
  font-size: 35px;
  margin: 50px;
}

.btn h1 {
  font-size: 50px;
  color: #319164;
}
body{
  background-color: black;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loadder{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  /* background-color: black; */
}
.line{
  width: 10px;
  height: 70px;
  background-color: yellowgreen ;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  animation: loader 1.2s ease-in infinite;
}
.line-1{
  animation-delay: 0.1s;
}
.line-2{
  animation-delay: 0.2s;
}
.line-3{
  animation-delay: 0.3s;
}
.line-4{
  animation-delay: 0.4s;
}
.line-5{
  animation-delay: 0.5s;
}
.line-6{
  animation-delay: 0.6s;
}
.line-7{
  animation-delay: 0.7s;
}
.line-8{
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(1);
    background: rgb(204, 223, 121, 205);
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}